* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
body,
html {
  width: 100%;
  height: 100%;
}
.wrapper {
  margin: 0 auto;
  display: flex;
  max-width: 1440px;
  max-height: 1198px;
  background: #fafbff;
  margin: 0 auto;
}

.aside {
  display: flex;
  flex-direction: column;
  width: 306px;
  min-height: 100%;
  background: #fff;
  padding: 0 28px;
  padding-bottom: 50px;
}
.aside__header {
  width: 217px;
  height: 37px;
  display: flex;
  align-items: center;
  margin-top: 37px;
  margin-bottom: 66px;
  border: 2px;
}
.aside__header-title {
  color: #000;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.26px;
  margin-left: 8px;
}
.aside__header-version {
  color: #838383;
  font-size: 10px;
  letter-spacing: -0.1px;
  margin-left: 4px;
  margin-top: 10px;
}

.aside__nav {
  margin-left: 19px;
  width: 306px;
}
ul {
  list-style-type: none;
  padding: 40px 0;
  color: #fff;
  letter-spacing: -0.14px;
}
ul:first-child {
  padding: 0;
}
li {
  margin-bottom: 29px;
  width: 250px;
  height: 46px;
}
.aside__nav-images {
  margin-right: 14px;
}
.aside__nav-arrow {
  margin-left: auto;
  margin-right: 15px;
}
li a {
  display: flex;
  text-decoration: none;
  color: #9197b3;
  align-items: center;
  width: 250px;
  height: 46px;
}
li a:hover {
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  background: #5932ea;
  width: 250px;
  height: 46px;
}

.aside__footer {
  height: auto;
  display: inline-flex;
  margin-top: 597px;
  padding-bottom: 76px;
  color: #757575;
  letter-spacing: 0.14px;
}
.aside__footer-name {
  margin-left: 12px;
}
.aside__footer-name span {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.12px;
}


.main {
  width: 1110px;
  height: 100%;
  fill: #fff;
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
}
.main-meeting {
  color: #000;
  font-size: 24px;
  margin-top: 41px;
  padding-left: 47px;
}
.main__container {
  max-width: 968px;
  margin-left: 47px;
  padding-left: 38px;
  padding-right: 40px;
  flex-shrink: 0;
  background-color: #ffffff;
  border-radius: 30px;
}
.main__container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 51px;
}
.top-title h2 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.22px;
  margin-top: 30px;
  margin-bottom: 7px;
}
.top-title h3 {
  color: #16c098;
  letter-spacing: -0.14px;
}
.search-form {
  display: flex;
  align-items: center;
  width: 216px;
  height: 38px;
  margin-right: 30px;
  margin-top: 30px;
  border-radius: 10px;
  background: #f9fbff;
}
.search-form img {
  padding: 7px 8px;
}
input[type="text"] {
  background: #f9fbff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.12px;
}

@media screen and (max-width: 580px) {
  
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  display: table;
}

.row {
  display: table-row;
}

.row.header {
  color: #b5b7c0;
  letter-spacing: -0.14px;
}

@media screen and (max-width: 580px) {
  body {
    font-size: 16px;
    line-height: 22px;
  }
  .table {
    display: block;
  }
  .cell {
    padding: 2px 16px;
    display: block;
  }

  .row.cell {
    margin-bottom: 40px;
  }

  .row.cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}
.status{
  padding-left: 10px;
}
.cell {
  display: table-cell;
  padding-top: 40px;
}

.main__container-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 41px;
}
h4 {
  color: #b5b7c0;
  font-weight: 500;
  letter-spacing: -0.14px;
}

.slider {
  display: flex;
  gap: 12px;
}
.slder__item {
  display: inline-flex;
  padding: 6px 9px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #eee;
  background: #f5f5f5;
}
.slder__item:hover {
  display: inline-flex;
  padding: 6px 9px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #5932ea;

  background: #5932ea;
}

.button {
  display: flex;
  width: 80px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.button-text-green {
  color: #008767;
  letter-spacing: -0.14px;
}
.button-text-red {
  color: #DF0404;
  letter-spacing: -0.14px;
}
.green {
  border-radius: 4px;
  border: 1px solid #00b087;
  background: rgba(22, 192, 152, 0.38);
}
.red {
  border-radius: 4px;
  border: 1px solid #df0404;
  background: #ffc5c5;
}

